beautifulsoup4==4.9.3
bs4==0.0.2
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer
click==8.1.7
decorator==5.1.1
dnspython==1.16.0
feedparser==6.0.11
future==1.0.0
geocoder==1.38.1
gnews==0.3.6
google-assistant-grpc==0.0.2
google-assistant-sdk==0.3.3
google-auth==2.29.0
google-auth-oauthlib==0.1.0
googleapis-common-protos==1.63.0
grpcio==1.62.2
idna==3.7
monotonic==1.6
oauthlib==3.2.2
pillow==10.3.0
protobuf
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAudio==0.2.14
pycountry==23.12.11
pycparser==2.22
pydub==0.25.1
pymongo==3.12.3
python-decouple==3.8
python-dotenv==0.19.2
ratelim==0.1.6
requests
requests-oauthlib==2.0.0
rsa==4.9
sgmllib3k==1.0.0
simpleaudio==1.0.4
six==1.16.0
sounddevice==0.3.7
soupsieve==2.5
SpeechRecognition==3.10.3
tenacity==8.2.3
typing_extensions==4.11.0
urllib3
