beautifulsoup4==4.9.3
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==2.0.12
click==8.1.7
decorator==5.1.1
dnspython==1.16.0
feedparser==6.0.11
future==1.0.0
geocoder==1.38.1
gnews==0.3.6
idna==3.6
pillow==10.3.0
pycountry==23.12.11
pymongo==3.12.3
python-decouple==3.8
python-dotenv==0.19.2
ratelim==0.1.6
requests==2.26.0
sgmllib3k==1.0.0
six==1.16.0
soupsieve==2.5
urllib3==1.26.18
